.Container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 8px #3e3e3e;
    background-color: #3b8ad969;
    border-radius: 8px;
    min-height: 100vh;
    z-index: 1;
    align-items: center;
}

.Description {
    width: 350px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    min-height: 30vh;
    margin-top: 20px;
}

.Edit {
    font-size: 10px;
    float: right;
    cursor: pointer;
}

.Materials {
    display: flex;
    flex-direction: row;
    width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    min-height: 15vh;
    margin-top: 20px;
}

.textArea {
    border: none;
    width: 350px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    margin-top: 40px;
}

.textArea:focus {
    outline: none;
}

.Button {
    margin-top: 40px;
    border-radius: 20px;
}
