.Panel {
    display: flex;
    flex-direction: column;
}
.Profile {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    padding: 10px;
}
.Profile .image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-size: cover;
}
.RoadMapSection {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 4px grey;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.roadmaps {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

@media (max-width: 350px) {
    .Panel {
        width: 100%;
    }
}
