.Container {
    display: flex;
    flex-direction: row;
}
.Calendar {
    width: 350px;
    max-width: 100%;
}
.Profile {
    display: flex;
    width: 350px;
    max-width: 100%;
    flex-direction: column;
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    padding: 10px;
}
.Profile .image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-size: cover;
}
.RoadMapSection {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 4px grey;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.roadmaps {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .Container {
        flex-direction: column;
    }
    .Calendar {
        width: 100%;
    }
    .Profile {
        width: 100%;
    }
}
