.DayBox{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: white;
    color: #B38AD6;
    box-sizing: border-box;
    user-select: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
    transition-property: border;
}
.DayBox_default{
    border: 0.5px solid #e8e8e8;
}
.DayBox_selected{
    border: 4px solid #814ab0;
}
.DayBox_current_selected{
    border: 4px solid white;
}
.DayBox_current{
    transform: scale(1.1);
    z-index: 1;
    background-color: #B38AD6;
    box-shadow: 0 0 10px #B38AD6;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.DayBox_default:hover{
    border: 0.5px solid #B38AD6;
}
.DayBox .EventSym{
    position: absolute;
    height: 5px;
    border-radius: 10px;
    width: 50px;
    bottom: 5px;
}
.DayBox .EventSym_default{
    background-color: #B38AD6;
    box-shadow: 0 0 7px #B38AD6;
}
.DayBox .EventSym_current{
    background-color: white;
    box-shadow: 0 0 7px white;
}
