.Panel {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    box-shadow: 0 0 8px #3e3e3e;
    background-color: #3b8ad969;
    border-radius: 5px;
    /* height: 100%; */
    z-index: 1;
    position: absolute;
}
.Panel::-webkit-scrollbar {
    width: 10px;
}
.Panel::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background-color: #e4e4e4;
}
.Profile {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    padding: 10px;
}
.Profile .image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-size: cover;
}
.RoadMapSection {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 4px grey;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.roadmaps {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

@media (max-width: 350px) {
    .Panel {
        width: 100%;
    }
}
