.Roadmap{
    background-color: #E4E4E4;
    border-radius: 5px;
    display: flex;
    width: 90%;
    margin: auto;
    height: 100%;
}
.Info{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
}
.Info h3{
    font-size: 2rem;
}
.Sec{
    margin: 10px 0;
}
.Sec label{
    font-size: 0.7rem;
    color: #A7A7A7;
}
.Sec p{
    color: #404040;
}
.Sec ul{
    display: flex;
    list-style: none;
}
.Sec ul li{
    margin-right: 5px;
}
.Main{
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    background: #9ccca5;
    overflow-y: scroll;
    transition: 0.3s;
}
.Topics{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.StartDiv{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.path{
    width: 4px;
    height: 100px;
    background-color: black;
    margin-left: 40px;
}
.Topics .title{
    margin: 10px 0;
}
.Box{
    border-top: 1px solid #c1c1c1;
    padding-top: 20px;
    overflow-x: scroll;
}